{% extends 'public/dashboard-base.html' %}

{% block title %} New Category | M.A.D.S {% endblock %}


{% block content %}
<div class="col-12">
    <div class="col-sm-12 inline my-2">
        <span class="h2">New Category</span>
        <div class="float-right"><input class="btn bg-primary text-capitalize text-light" type="button"
                value="+ Add Category" id="newCategory"></div>
    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-danger alert-dismissible fade show font-20" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <hr>
    <div class="col-12">
        <form action="" method="POST">
            <div id="categoryList" class="row">

            </div>
            <hr>
            <button class="btn btn-primary col-6 offset-3" type="submit" id="submitBtn" disabled>Insert</button>
        </form>
    </div>

</div>
{% endblock %}